<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ve.todotasksapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_profile_image"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".AlarmReciever"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".taskCreation.TaskCreation">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".taskShow.MainActivity" />
        </activity>
        <activity android:name=".taskShow.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>